@{
  Layout = "_Layout";
}

  <div class='container'>
    <div id="countries">
      <div class = "row">
          <div class = "col-md-3">
            <h3><a href="/country">Country Name</a></h3>
          </div>
          <div class = "col-md-3">
            <h3><a href="/continent">Continent</a></h3>
          </div>
          <div class = "col-md-3">
            <h3><a href="/population">Population</a></h3>
          </div>
          <div class = "col-md-3">
            <h3><a href="/life">Life Expectancy</a></h3>
          </div>
      </div>

    @foreach (var country in Model)
    { <div class = "row">
        <div class = "col-md-3">
          <p>@country.GetName()</p>
        </div>
        <div class = "col-md-3">
          <p>@country.GetContinent()</p>
        </div>
        <div class = "col-md-3">
          <p>@country.GetPopulation()</p>
        </div>
        <div class = "col-md-3">
          <p>@country.GetLifeExpecancy()</p>
        </div>
      </div>
    }
    </div>
  </div>
