@{
  Layout = "_Layout";
}

  <div class='container' id="splash">
    <h1>Cities and Countries of the World</h1>
    <img src="~/img/landscape.jpg" alt="A cityscape">
    <div id="choices">
      <p id="instructions">Click on either Countries or Cities to view a sortable list:</p>
      <div class="col-md-6">
          <a href="/country">See Countries</a>
      </div>
      <div class="col-md-6">
        <a href="/city">See Cities</a>
      </div>
    </div>
  </div>
